
{%
    set inputClass = "
        mt-1
        text-gray-900
        bg-gray-50
        rounded-lg
        block
        w-full
        p-2.5
        border
        border-gray-300
        focus:z-10
        focus:ring-blue-500
        focus:border-blue-500
        dark:bg-gray-700
        dark:border-gray-600
        dark:text-white
        dark:placeholder-gray-400
        dark:focus:ring-blue-500
        dark:focus:border-blue-500
"
%}


<div class="flex flex-row justify-center">
    <div class="basis-3/4">
        <form
                method="GET"
                data-controller="autosubmit"
        >
            <div class="flex flex-row">
                <label class="block text-sm font-medium text-gray-700 dark:text-white">
                    Width
                    <input
                            type="number"
                            name="width"
                            value="{{ boardWidth }}"
                            data-action="autosubmit#debouncedDispatch"
                            class="{{ inputClass }}"
                    />
                </label>

                <label class="block text-sm font-medium text-gray-700 dark:text-white ml-5">
                    Height
                    <input
                            type="number"
                            name="height"
                            value="{{ boardHeight }}"
                            data-action="autosubmit#debouncedDispatch"
                            class="{{ inputClass }}"
                    />
                </label>
                <label class="block text-sm font-medium text-gray-700 dark:text-white ml-5">
                    Cell Size
                    <input
                            type="number"
                            name="cellSize"
                            value="{{ boardCellSize }}"
                            data-action="autosubmit#debouncedDispatch"
                            class="{{ inputClass }}"
                    />
                </label>
            </div>
        </form>
    </div>
</div>
