<div class="flex flex-row justify-center">
    <div class="basis-3/4">
        <form
                method="GET"
                data-controller="autosubmit"
        >
            <div class="flex flex-row">
                <label class="block text-sm font-medium text-gray-700 dark:text-white">
                    Width
                    <input
                            type="number"
                            name="width"
                            value="{{ config.width }}"
                            data-action="autosubmit#debouncedDispatch"
                            class="{{ inputClass }}"
                    />
                </label>
                <label class="block text-sm font-medium text-gray-700 dark:text-white ml-5">
                    Height
                    <input
                            type="number"
                            name="height"
                            value="{{ config.height }}"
                            data-action="autosubmit#debouncedDispatch"
                            class="{{ inputClass }}"
                    />
                </label>
                <label class="block text-sm font-medium text-gray-700 dark:text-white ml-5">
                    Cell Size
                    <input
                            type="number"
                            name="cellSize"
                            value="{{ config.cellSize }}"
                            data-action="autosubmit#debouncedDispatch"
                            class="{{ inputClass }}"
                    />
                </label>
            </div>
        </form>
    </div>
</div>
