<div class="">
    <div class="flex flex-row justify-end">
        <div class="p-4 pb-0">
            <div class="text-gray-300 text-5xl font-bold font-mono">GLife</div>
            <div class="text-gray-300 text-sm font-mono text-end">{{ version }}</div>
        </div>
    </div>
</div>

{% set current_route = app.request.attributes.get('_route') %}

{% macro tab_class(route_name, current_route) %}
    {% set not_choosen_class = "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" %}
    {% set choosen_class = "inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" %}

    href="{{ path(route_name) }}"

    {% if route_name == current_route %}
        class="{{ choosen_class }}" aria-current="page"
    {% else %}
        class="{{ not_choosen_class }}"
    {% endif %}
{% endmacro %}

<div
        class="mb-20 pl-10 text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
>
    <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
            <a {{ _self.tab_class('app_about', current_route) }}>About</a>
        </li>
        <li class="me-2">
            <a {{ _self.tab_class('app_glife', current_route) }}>Board</a>
        </li>
        <li>
            <a {{ _self.tab_class('app_tests_jsonhub', current_route) }}>Tests</a>
        </li>
    </ul>
</div>
